

li{
  border-style: double;
     margin: 2;
      font-size: 15px;

}

p{
  padding:10px;
  font-size:25px;
 border-style: double;
  border-width: 5px;
  color:black;
}
p2{
 color:black;
 background-color:white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter ;
  line-height: 40px;
  padding: 19px;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter ;
	line-height: 26px;
	background-color: white;
  text-align:center;
   
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
    background-color: black;
}

li {
    float: left;
    text-align: center;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}


li a:hover {
    background-color: green;
}


    

h2{
  background-color:white;
  color:black;
  font-family: "Times New Roman", Times, serif
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter ;
	line-height: 40px;
  padding: 10px;
  
}

table#t01{
  background-color:white;
  padding:3px;
  font-size:35px;
  font-family: "Times New Roman", Times, serif
  text-align:center;
}
div{
text-align:center;
padding: 15px;
background-color: green;
}
h1{
  color:red;
  font-family: "Times New Roman", Times, serif
  text-align: center;
}
ptd, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}