
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

div{
	background-color: red;

    border-width: 9px;
    padding: 30px;
    text-align:center;

}

#picture1{
	background-color:tan;
	border-style: solid;
    border-width: 9px;
    padding: 10px;
	margin: auto;
  padding: 0px;
  margin-right: 10px;
}

#picture2{
	background-color:tan;
	border-style: solid;
    border-width: 9px;
    padding: 10px;
	margin: auto;
  	padding: 0px;
  	margin-right: 10px;
}

html{
	border-style: double;
	padding: 50px;
	border-width: 10px;
	border-color: red;
}


#menu{
	border-style: solid;
	background-color: red;


}

#home{
	border-style: solid;
	background-color: red;


}

#res{
	border-style: solid;
	background-color: red;

}
#aboutus{
	background-color: red;
	border-style: solid;
}

li {
    float: left;
    border-color:white;
}

li:last-child {
    border-right: white;
}

li a {
    display: inline;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: red;
}
ul{
	list-style-type: none;
	align-items: center;
}

.active {
    background-color: white;
}


table{
	border-style: double;
	background-color: red;
	padding: 10px;
	margin: auto;
}
tr{
	border-style: double;
	background-color: yellow;
	text-align:center;
}

h1{
text-align: left;
}

h2{
	text-align: center;
}
#copyright{
	font-size: 1pc;
	text-align: center;
}

img{
	width: 100%;
}
